<section class="chalenge">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Challenge to be finished</h1>
        <ol>
          <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
          <li>Output them beneath each other in the AppComponent</li>
          <li>Output a warning or success message in the Components</li>
          <li>Style the Components appropriately (maybe some red/ green text?)</li>
        </ol>
        <p>Use external or internal templates and styles!</p>
        <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
      </div>
    </div>
  </div>
  
</section>
<section class="alert">
  <h1>Resolution</h1>
    <div class ="respose" > 
      <!-- Setp by setp solutiom
        -- First setp was adjusting the old template to currunt Angular version;
        -- Second setp made de module file and configured both components;
        -- Final step code some css.
        -->
      <app-warning-alert></app-warning-alert>
      <app-succes-alert></app-succes-alert>
    </div>
</section>


