<!-- Button to toggle the display of secret content -->
<button class="btn btn primary" (click) ="display()">Display Details</button>

<!-- Secret content displayed conditionally -->
<p *ngIf="addSecret">Congrat's you found the secret korok!</p>
<img *ngIf="addSecret" src="./assets/daniel-yu-sprite-0005-korok-enlarged.gif" alt="flyng Korok from Zelda breath of the wild">

<p>Time the button was cliked:</p>
<!-- ngStyle is used to dynamically set the background color based on the condition -->
<!-- ngClass is applied conditionally to change the text color -->
<p  [ngStyle]="{backgroundColor: i  > 5 ? 'blue' : 'transparent'}" 
    [ngClass]="{change: i  > 5}"
    *ngFor="let element of logs; let i = index">{{element}}</p>