h1{
    color: rgb(244, 10, 10);
    font-size: 46px;
}

section{
    color: rgb(224, 222, 222);
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
}

button{
    background-color: #ffce1f;
    border: 2px solid;
    border-radius: 5px;
}

button .selected {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #ffe91fa2;
}